body {
    background-color: hsla(0, 0%, 100%, .98);
    font-family: Roboto, Arial, sans-serif;
}

.docplanner-header {
    display: flex;
    justify-content: space-around;
    font-family: Arial;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-color: hsla(0, 0%, 100%, .98);

}

.nav-bar-menu {
    display: flex;

}

.nav-bar-menu p {
    padding-left: 9px;
    padding-right: 9px;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    font-style: bold;

}

.about-us-item {
    color: #00b39b;
}

.career-item {
    color: #ababab;
}

.departements-item {
    color: #ababab;
}

.career-item:hover {
    color: #00b39b;
}

.departements-item:hover {
    color: #00b39b;
}

.departements-item:hover+ul {
    display: block;
}

ul {
    list-style: none;
    background-color: white;
    width: 220px;
    height: 210px;
    display: none;
    border: 1px;
    top: 30px;
    right: 200px;
    position: absolute;
    box-shadow: 0px 5px 5px 3px #efefef;
    padding: 12px 16px 12px 16px;
    line-height: 120%;
    font-size: 15px;
    line-height: 18px;
    font-family: Roboto, Arial, sans-serif;
    outline-style: none;


}

ul:hover {
    display: block;
}

ul li {
    color: rgb(171, 171, 171);
    display: flex;
    height: 20%;
    align-items: center;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
}

ul li:hover {
    color: #00b39b;
    background-color: #efefef;
}

.logo-docplanner {
    padding-top: 15px;
}

.lead__logo {
    display: flex;

    height: 39px;
    margin-bottom: 0px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 0px;
    max-width: 100%;
    box-sizing: border-box;
    width: 40px;

}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 110px;
}

.top_section {
    margin-top: 33px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#title1 {
    display: block;
    margin-bottom: 34px;
    margin-top: 34px;
    color: rgb(0, 179, 155);
    font-family: Work Sans, Arial, sans-serif;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 44.2px;
    margin-block-start: 34px;
    margin-block-end: 34px;
    text-align: center;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

.grid {
    margin-left: 250px;
    margin-right: 250px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;



}

.p1 {
    display: flex;
    float: left;
    min-height: 1px;
    padding: 10px 10px 10px 10px;
    font-family: 'Roboto', Arial, sans-serif;
    text-size-adjust: 100%;
    width: 50%;
    text-align: justify;
    color: #747474;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.second {
    margin-top: 60px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.grid2 {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    align-content: stretch;
}

.g1 {
    border-radius: 20px;
    padding: 10px;
    transform: translate(0);
    opacity: 1;
    transform: matrix(1, 0, 0, 1);
    background-color: rgb(0, 204, 177);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    color: white;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    width: 450px;
}

.g2 {
    border-radius: 20px;
    padding: 10px;
    transform: translate(0);
    opacity: 1;
    transform: matrix(1, 0, 0, 1);
    background-color: rgb(61, 131, 223);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    width: 450px;
}

.g3 {
    border-radius: 20px;
    padding: 10px;
    transform: translate(0);
    opacity: 1;
    transform: matrix(1, 0, 0, 1);
    background-color: rgb(27, 39, 52);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    width: 450px;
}

.g3 h1 {
    font-size: 26px;
    font-family: Work Sans, Arial, sans-serif;
}

.g2 h1 {
    font-size: 26px;
    font-family: Work Sans, Arial, sans-serif;
}

.g1 h1 {
    font-size: 26px;
    font-family: Work Sans, Arial, sans-serif;
}

.g1 h2 {
    font-size: 24px;
    font-family: Work Sans, Arial, sans-serif;
}

.g2 h2 {
    font-size: 24px;
    font-family: Work Sans, Arial, sans-serif;
}

.g3 h2 {
    font-size: 24px;
    font-family: Work Sans, Arial, sans-serif;
}

.style-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
}

.g1:hover {
    background-color: rgb(71, 214, 195);
}

.g2:hover {
    background-color: rgb(108, 159, 226);
}

.g3:hover {
    background-color: rgb(78, 94, 112);
}

.websites {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    align-content: flex-start;


}


.brands__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;
    width: 67%;
    list-style: none;
    float: none;
    box-sizing: border-box;
}

.links {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.links :hover {
    color: green;
    cursor: pointer;
}

.begin {
    width: 25%;
    letter-spacing: -.3px;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    margin: .25em 0 .35em;
    padding-right: 2em;
    color: #00b39b;


}

.links a {

    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
    background-color: transparent;

}

.third {
    background: #e5faf8;
    background-image: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));

    padding: 1.875em 0 .625em;
    overflow: visible;
    margin: 3.125rem auto 5.5rem;
    margin-top: 50px;
    margin-bottom: 88px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#logodoc {
    background: url(https://www.docplanner.com/img/logo.png) no-repeat;

    position: inherit;
    width: 456px;
    height: 300px;
    right: 67%;
    pointer-events: none;
    content: "";
    margin-top: -25%;
    margin-left: -12%;
    box-sizing: inherit;

}

.third__inner {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 252.1px;
    margin-right: 252.1px;

}

.third__inner h1 {
    color: rgb(0, 179, 155);
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 44.2px;
    font-family: Work Sans, Arial, sans-serif;
    text-size-adjust: 100%;
}

.third__inner p {
    color: rgb(116, 116, 116);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-block-end: 22.4px;
    margin-block-start: 22.4px;
    margin-bottom: 22.4px;
    margin-top: 22.4px;
    max-width: 415px;
    box-sizing: border-box;
    display: block;
}

.third__inner h3 {
    color: rgb(0, 179, 155);
    font-size: 16px;
    font-weight: 200;
}

.col-2 {
    width: 50%;
    float: left;
    min-height: 1px;
    padding: 10px;
}

.grid-new {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;


}

.cad1 {
    background-color: white;
    align-items: flex-start;
    text-align: center;
    padding: 10px;
    margin-top: 15px;

    line-height: 20px;

}

.cad2 {
    background-color: white;
    text-align: center;
    padding: 10px;
    align-items: flex-start;
    margin-top: 40px;
    line-height: 20px;
}

.cad3 {
    background-color: white;
    text-align: center;
    padding: 10px;
    align-items: flex-end;
    line-height: 20px;
    margin-top: 50px;

}

.cad4 {
    background-color: white;
    text-align: center;
    padding: 10px;
    align-items: flex-end;
    margin-top: -30px;
}

.fourth h1 {
    font-size: 2.1428571429em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #00b39b;
    font-size: 30px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    line-height: 39px;
}

.fourth p {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    color: #747474;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: block;
    text-align: center;
    line-height: 24px;
}

.fourth_header {
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    margin-bottom: 0px;
    font-size: .875em;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;

}

@media (max-width: 870px) {
    .fourth_header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.offices__slider{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: space-around;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    font-size: 16px;
    line-height: 1.3;
    
}
.office__desc{ 

    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em; 
    cursor: pointer;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20;
    border: 2px;
   
}
.office__inner {
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    
    color: #747474;
}

div.office{
    background-color: white;
}
div.office:hover{
    background-color: wheat;
    
}

.office .btn{
    float: right;
    background-color: #3d83df;
    color: white;
    border-radius: 5px;
    
}

.office img {
    border-radius: 15px;
}
.office img:hover{
    box-shadow: 0px 5px 5px 3px gray;
}


.btn--small {
    font-size: 10px;
    
    font-size: .625rem;
    padding: 1em 1.5em;
    padding-top: 1em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    
    
}
.btn:hover {
    color: #fff;
    background: #1662c6;
}
.btn{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

.office__inner:hover {
    text-decoration: none;
}

.office a:active a:hover{
    outline: 0;
}

.office a{
    text-decoration: none;
    text-align: center;
    
    
}

.join-us{
    font-size: 16px;
    font-weight: 400;
    
    color: #747474;
    line-height: 21px;
    margin: 40px 204px 80px 204px;
    max-width: 1015px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    text-size-adjust: 100%;
    zoom: 1;
}

.join-us_header{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-left: 227.5px;
    margin-right: 227.5px;
    max-width: 520px;
    font-family: 'Times New Roman', Times, serif;
}
.btn_2 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}
.btn_2:hover{
    background: #1662c6;
}

.for_footer{
    text-align: center;
    border-top: 1px solid #eef2f2;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 242, 242);
    padding: 1em 0;
    color: #747474;
    
}

.footer__inner{
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    
    -webkit-font-smoothing: antialiased;
}


.footer__inner a{
    text-decoration: none;
}
.footer__inner a:hover {
    text-decoration: underline;
}


@media (min-width: 871px) {
.office__inner:hover {
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 13%);
}
}